[Unit]
Description=PyOctoAgile Service
After=network.target

[Service]
EnvironmentFile=/etc/systemd/system/pyoctoagile.env
Environment="PYTHONPATH=/home/pi/PyOctoAgile/Program"
ExecStart=/usr/bin/python3 /home/pi/PyOctoAgile/Program/PyOctoAgile.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
