[Unit]
Description=PyOctoAgile Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 ~/PyOctoAgile/Program/PyOctoAgile.py
WorkingDirectory= ~/PyOctoAgile/Program
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
